/*body {
}*/


/*#modalTablaEmplead {
    max-height: 100% !important;
    max-width: 63% !important;
    min-width: 527px !important;
    margin: 0 360px 0px;
    top: 32% !important;
}
@media only screen and (min-width: 1270px) {
    #modalTablaEmplead {
        max-height: 100% !important;
        max-width: 63% !important;
        margin: 0 360px 0px;
        top: 32% !important;
    }
}

    @media only screen and (min-width: 1024px) {
        #modalTablaEmplead {
            height: 100% !important;
            width: 53% !important;
            margin: 0 360px 0px;
            top: 32% !important;
        }
    }*/

/*@media only screen and (min-width: 1024px) {
    #modalTablaEmplead {
        height: 100% !important;
        width: 527px !important;
        margin: 0 360px 0px;
        top: 32% !important;
    }
}*/
    


