@model MODELO_DATOS.MODELO_REQUISICION.REQUISICIONViewModel
@{
    ViewBag.Title = "REQUISICION PRESUPUESTADA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_PartialPresupuestadaJefe", Model)

