               
@*<style>

    .dropdown-item.dropdown-notification:active, .dropdown-item.dropdown-notification.active {
        color: #1d1e1f;
        text-decoration: none;
        background-color: #f7f7f9;
    }

    .dropdown-notification:hover .notification-read {
        color: #34495E;
    }

    .dropdown-notification-all {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        font-style: oblique;
        background-color: #34495E;
        color: white;
    }

        .dropdown-notification-all:hover {
            background-color: #34495E;
            color: white;
        }

    .notifications-container {
        max-height: 300px;
        overflow: auto;
    }

    .notification-dropdown-menu {
        padding-bottom: 0;
        min-width: 528px;
    }

    .notification-img {
        width: 48px;
        display: inline-block;
        vertical-align: top;
    }

    .notifications-body {
        display: inline-block;
    }

    .notification-texte {
        text-align: left;
        margin: 0;
    }

    .notification-read {
        margin: 0;
        height: 48px;
        vertical-align: top;
        line-height: 48px;
        padding-left: 15px;
        color: white;
        float: right;
    }

    .notification-date {
        text-align: left;
        color: #2980b9;
        margin: 0;
    }

    .notification-solo {
        margin-top: 1rem;
    }

    .notification-unread {
        text-decoration: none;
        background-color: #f7f7f9;
    }
</style>*@

 <nav class="navbar navbar-expand-lg navbar-light bg-light menu-superior">
                    <div class="container">
                        <a class="navbar-brand" href="#"><img class="logo-header" src="../../assets/img/logo-et-header.svg"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">

                                <li class="nav-item">
                                    <a class="nav-link" href="../../SOLICITUD/CONSULTAR">MIS SOLICITUDES</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="../../RETIRO/CONSULTAR">RETIROS</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="../../CUENTA/SALIR">SALIR</a>
                                </li>




                                @*<li class="nav-item">
                                    <nav class="navbar navbar-light bg-faded">

                                        <!-- ICON -->
                                        <div class="dropdown nav-button notifications-button hidden-sm-down">

                                            <a class="btn btn-secondary dropdown-toggle" href="#" id="notifications-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i id="notificationsIcon" class="fa fa-bell-o" aria-hidden="true"></i>
                                                <span id="notificationsBadge" class="badge badge-danger"><i class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true"></i></span>
                                            </a>

                                            <!-- NOTIFICATIONS -->
                                            <div class="dropdown-menu notification-dropdown-menu" aria-labelledby="notifications-dropdown">
                                                <h6 class="dropdown-header">NOTIFICACIONES</h6>

                                                <!-- CHARGEMENT -->
                                                <a id="notificationsLoader" class="dropdown-item dropdown-notification" href="#">
                                                    <p class="notification-solo text-center"><i id="notificationsIcon" class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true"></i> Chargement des dernières notifications...</p>
                                                </a>

                                                <div id="notificationsContainer" class="notifications-container"></div>

                                                <!-- AUCUNE NOTIFICATION -->
                                                <a id="notificationAucune" class="dropdown-item dropdown-notification" href="#">
                                                    <p class="notification-solo text-center">Aucune nouvelle notification</p>
                                                </a>



                                            </div>

                                        </div>

                                    </nav>

                                    <!-- TEMPLATE NOTIFICATION -->
                                    <script id="notificationTemplate" type="text/html">
                                        <!-- NOTIFICATION -->
                                        <a class="dropdown-item dropdown-notification" href="{{href}}">
                                            <div class="notification-read">
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                            </div>
                                            <img class="notification-img" src="https://placehold.it/48x48" alt="Icone Notification" />
                                            <div class="notifications-body">
                                                <p class="notification-texte">{{texte}}</p>
                                                <p class="notification-date text-muted">
                                                    <i class="fa fa-clock-o" aria-hidden="true"></i> {{date}}
                                                </p>
                                            </div>
                                        </a>
                                    </script>
                                </li>*@




                            </ul>
                        </div>
                    </div>
                </nav>
 <div class="container container-retiros">



     @*<script src="https://use.fontawesome.com/48bbc759d5.js"></script>*@


 

