@model G_H_WEB.Models.ERROR_GENERAL_ViewModel

@{
    if (Model != null)
    {
        if (Model.COD_ERROR != "")
        {
            <div class="modal fade" id="modalValidaErrorRequisicion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h5 class="modal-title" id="exampleModalLabel">ERROR CODIGO : @Model.COD_ERROR</h5>
                        </div>
                        <div class="modal-body">Se presentó un error,contacte al administrador del sistema!.</div>
                        <div class="modal-footer">
                            <button class="btn-principal" type="button" data-dismiss="modal">  Cerrar </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}
<script>
    $(document).ready(function () {
         if ('@Model.COD_ERROR' != "") {
            $('.modal-body').load('content.html', function () {
                $('#modalValidaErrorRequisicion').modal({ show: true });
            });
        }
    });
</script>