 </div>
<div class="container-fluid footer">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-xl-3">
                    <a class="logo-et" href="#">
                        <figure><img src="../../assets/img/logo-et.png"></figure>
                    </a>
                    <div class="redes-footer"><a class="facebook-icon fab fa-facebook-f" href="#"></a><a class="twitter-icon fab fa-twitter" href="#"></a><a class="google-icon fab fa-google-plus-g" href="#"></a></div>
                </div>
                <div class="col-md-9 col-lg-9 col-xl-9">
                    <div class="links-footer"><a href="#">Términos y condiciones</a><a href="#">Avisos de publicidad</a><a href="#">Políticas de datos de navegación</a><a href="#">Línea ética</a></div>
                    <p class="copyright-footer">COPYRIGHT © 2018 Casa Editorial EL TIEMPO.</p><span class="texto-footer">Prohibida su reproducción total o parcial, así como su traducción a cualquier idioma sin autorización escrita de su titular Casa Editorial EL TIEMPO.</span>
                </div>
                <div class="col-md-9 col-lg-9 col-xl-9"></div>
            </div>
        </div>
    </footer>
</div>

  </body>
</html>