@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<div>
    <p> <strong>acción: </strong>  @Model.ActionName</p>
    <p> <strong>controlador: </strong>  @Model.ControllerName</p>
    <p> <strong>excepción: </strong>  @Model.Exception.GetType().Name</p>
    <p> <strong>mensaje: </strong>  @Model.Exception.InnerException</p>
</div>

