@using UTILS.Settings
<div class="col-md-3 col-lg-3 col-xl-3">
    <a class="alineas" href='@Url.Action("Create","REQUISICION",new { @idTipo = SettingsManager.CodTipoReqPresupuestada})'>
        <img src="../../assets/img/presupuestada.png" class="img-responsive maxImagen" />
    </a>
</div>
<div class="col-md-3 col-lg-3 col-xl-3">

    <a class="alineas" href='@Url.Action("Create","REQUISICION",new { @idTipo = SettingsManager.CodTipoReqNoPresupuestada})'>
        <img src="../../assets/img/NoPresupuestada.png" class="img-responsive maxImagen" />
    </a>
</div>
<div class="col-md-3 col-lg-3 col-xl-3">
    <a class="alineas" href='@Url.Action("Create","REQUISICION",new { @idTipo = SettingsManager.CodTipoReqIncapacidad})'>
        <img src="../../assets/img/Incapacidad.png" class="img-responsive maxImagen" />
    </a>
</div>
<div class="col-md-3 col-lg-3 col-xl-3">
    <a class="alineas" href='@Url.Action("Create","REQUISICION",new { @idTipo = SettingsManager.CodTipoReqLicencia})'>
        <img src="../../assets/img/Licencia.png" class="img-responsive maxImagen" />
    </a>
</div>




