@{
    Layout = null;

}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Mailing</title>
</head>
<body style="margin: 0;">
    <table class="table-container" style="width:100%; background: #555555;">
        <tr>
            <td>
                <table class="header" style="width: 600px; margin: 0 auto;">
                    <tbody>
                        <tr>
                            <td><img src="../../assets/img/logo-blanco.png"></td>
                            <td>
                                <h1 style="font-family: Arial, sans-serif; font-size: 24px; color: #fff;">|              Gestión Humana</h1>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
    <table class="body" style="padding-top: 70px; font-family:  arial, sans-serif; max-width: 600px; margin: 0 auto;">
        <tbody>
            <tr>
                <td colspan="3" style="padding-bottom: 50px;">
                    <h2 style="margin: 0;">Buen día, tiene una solicitud pendiente</h2>
                    <p style="font-weight: bold; margin: 0;">Tiene una nueva notificación que resolver:</p>
                </td>
            </tr>
            <tr>
                <td>Nombre: </td>
                <td colspan="2" style="font-weight: bold;">José Gabriel Rodriguéz Rojas</td>
            </tr>
            <tr>
                <td>Usuario: </td>
                <td colspan="2" style="font-weight: bold;">josrod@eltiempo.com</td>
            </tr>
            <tr>
                <td>C.c: </td>
                <td colspan="2" style="font-weight: bold;">79483736877</td>
            </tr>
            <tr>
                <td>Novedad: </td>
                <td colspan="2" style="font-weight: bold;">Retiro</td>
            </tr>
            <tr>
                <td>Empresa: </td>
                <td colspan="2" style="font-weight: bold;">El Tiempo</td>
            </tr>
            <tr class="spacing">
                <td colspan="2" style="padding-top: 30px"></td>
            </tr>
            <tr style="padding-top: 20px">
                <td colspan="3" style="font-size: 16px; line-height: 25px;"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet euismod ex, id gravida urna. Vestibulum ultricies augue et ex convallis, in pretium tellus vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla rhoncus consectetur dapibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec iaculis gravida eros. Integer auctor<a href="#" style="color: #F15300; margin-left: 10px;">revisar notificaciones »</a></td>
            </tr>
            <tr>
                <td style="padding-top: 40px"><a href="#" style="color: #F15300">Cancelar retiro</a></td>
                <td style="padding-top: 30px"><a href="#" style="color: #fff; background: #F15300; padding: 10px; text-decoration: none;">Confirmar retiro</a></td>
                <td style="padding-top: 30px"></td>
            </tr>
        </tbody>
    </table>
    <table class="footer" style="padding-top: 130px; font-family: arial, sans-serif; max-width: 600px; margin: 0 auto">
        <tbody>
            <tr>
                <td style="padding-right: 50px;"><a href="#"><img src="../../assets/img/logo-casaeditorial.png"></a></td>
                <td><a href="#" style="color: #000; font-size: 12px;">Términos y condiciones</a></td>
                <td><a href="#" style="color: #000; font-size: 12px;">Políticas de datos de navegación</a></td>
                <td><a href="#" style="color: #000; font-size: 12px;">Línea ética</a></td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3">
                    <b style="font-size: 12px;">COPYRIGHT © 2018 Casa Editorial EL TIEMPO.</b>
                    <p style="font-size: 12px;">Prohibida su reproducción total o parcial, así como su traducción a cualquier idioma sin autorización escrita de su titular Casa Editorial EL TIEMPO.</p>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>