@{
    Layout = null;

}
<div align="center">
    <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="606" style="width:454.5pt">
        <tbody>
            <tr>
                <td style="padding:0cm 0cm 0cm 0cm">
                    <p class="x_MsoNormal"><img data-imagetype="External" src="http://axeber/img/OriginalHeader.PNG"></p>
                </td>
            </tr>
            <tr>
                <td style="background:#DEDEDE; padding:0cm 0cm 0cm 0cm">
                    <div align="center">
                        <table class="x_MsoNormalTable" border="0" cellspacing="1" cellpadding="0" width="100%" style="width:100.0%">
                            <tbody>
                                <tr>
                                    <td style="background:white; padding:0cm 0cm 0cm 0cm">
                                        <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%">
                                            <tbody>
                                                <tr>
                                                    <td style="background:white; padding:0cm 0cm 0cm 0cm">
                                                        <div align="center">
                                                            <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="90%" style="width:90.0%">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="padding:0cm 0cm 0cm 0cm">
                                                                            <p class="x_MsoNormal">&nbsp;</p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding:0cm 0cm 0cm 0cm">
                                                                            <p class="x_MsoNormal">
                                                                                <strong><span style="font-family: Arial, sans-serif, serif, EmojiFont; color: rgb(38, 38, 38);">Buen día:   </span></strong><span style="font-family: Arial, sans-serif, serif, EmojiFont;">
                                                                                </span>
                                                                            </p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr style="height:6.0pt">
                                                                        <td style="padding:0cm 0cm 0cm 0cm; height:6.0pt"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding:0cm 0cm 0cm 0cm">
                                                                            <p class="x_MsoNormal"><span style="font-family: Arial, sans-serif, serif, EmojiFont; color: rgb(38, 38, 38);">Por favor tener en cuenta lo siguiente para esta novedad de retiros de personal:</span><span style="font-family: Arial, sans-serif, serif, EmojiFont;"></span></p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding:0cm 0cm 0cm 0cm">
                                                                            <p class="x_MsoNormal">&nbsp;</p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding:0cm 0cm 0cm 0cm">
                                                                            <p class="x_MsoNormal"><span style="font-family: Arial, sans-serif, serif, EmojiFont; color: rgb(38, 38, 38); font-size: 10pt">1. Como responsable desde su área de reportar novedades, le solicitamos informarnos si existen novedades que se deban tener en cuenta para el proceso de la liquidación definitiva de las personas en mención.<br /> <br /> 2.Realizar los bloqueos de usuarios, accesos, suscripción, entre otros que usted considere necesarios tener en cuenta para este proceso desde su área.<br /> <br /> Si tiene alguna novedad por favor informarla por este medio para que sea incluida, fecha límite 09 DE FEBRERO DE 2019. Es importante tener en cuenta, que las novedades que no sean reportadas dentro de estas fechas no serán procesadas.<br /><br /></span></p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr style="height:4.5pt">
                                                                        <td style="padding:0cm 0cm 0cm 0cm; height:4.5pt"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding:0cm 0cm 0cm 0cm">
                                                                            <div align="center">
                                                                                <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="padding:0cm 0cm 0cm 0cm">
                                                                                                <table class="x_MsoNormalTable" border="0" cellspacing="1" cellpadding="0" width="100%" style="width:100.0%">
                                                                                                    <tbody>
                                                                                                        <tr style="height:18.75pt">
                                                                                                            <td width="39%" style="width:39.0%; background:#AFAFAF; padding:0cm 0cm 0cm 0cm; height:18.75pt; border:solid; border-width: 1px;">
                                                                                                                <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" align="left" width="45" style="width:33.75pt">
                                                                                                                    <tbody>
                                                                                                                        <tr>
                                                                                                                            <td style="padding:0cm 0cm 0cm 0cm"></td>
                                                                                                                        </tr>
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                                <table class="x_MsoNormalTable" cellspacing="0" cellpadding="0" width="89%" style="width:89.0%;">
                                                                                                                    <tbody>
                                                                                                                        <tr>
                                                                                                                            <td width="15" style="width:11.25pt; padding:0cm 0cm 0cm 0cm">
                                                                                                                                <p class="x_MsoNormal">&nbsp;</p>
                                                                                                                            </td>
                                                                                                                            <td width="150" style="width:112.5pt; padding:0cm 0cm 0cm 0cm">
                                                                                                                                <p class="x_MsoNormal"><span style="font-size: 10pt; font-family: Arial, sans-serif, serif, EmojiFont; color: white;">SOCIEDAD</span></p>
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                            </td>
                                                                                                            <td width="61%" style="width:61.0%; background:#F5F7F8; padding:0cm 0cm 0cm 0cm; height:18.75pt">
                                                                                                                <div align="center">
                                                                                                                    <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="92%" style="width:92.0%">
                                                                                                                        <tbody>
                                                                                                                            <tr>
                                                                                                                                <td style="padding:0cm 0cm 0cm 0cm">
                                                                                                                                    <p class="x_MsoNormal"><span style="font-size: 10pt; font-family: Arial, sans-serif, serif, EmojiFont; color: rgb(148, 150, 155);">{SOCIEDAD}</span></p>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </div>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr style="height:18.75pt">
                                                                                                            <td style="background:#AFAFAF; padding:0cm 0cm 0cm 0cm; height:18.75pt; border:solid; border-width: 1px;">
                                                                                                                <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="89%" style="width:89.0%;">
                                                                                                                    <tbody>
                                                                                                                        <tr>
                                                                                                                            <td width="15" style="width:11.25pt; padding:0cm 0cm 0cm 0cm">
                                                                                                                                <p class="x_MsoNormal">&nbsp;</p>
                                                                                                                            </td>
                                                                                                                            <td width="150" style="width:112.5pt; padding:0cm 0cm 0cm 0cm">
                                                                                                                                <p class="x_MsoNormal"><span style="font-size: 10pt; font-family: Arial, sans-serif, serif, EmojiFont; color: white;">CÉDULA</span></p>
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                            </td>
                                                                                                            <td style="background:#F5F7F8; padding:0cm 0cm 0cm 0cm; height:18.75pt">
                                                                                                                <div align="center">
                                                                                                                    <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="92%" style="width:92.0%">
                                                                                                                        <tbody>
                                                                                                                            <tr>
                                                                                                                                <td style="padding:0cm 0cm 0cm 0cm">
                                                                                                                                    <p class="x_MsoNormal"><span style="font-size: 10pt; font-family: Arial, sans-serif, serif, EmojiFont; color: rgb(148, 150, 155);">{CEDULA}</span></p>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </div>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr style="height:18.75pt">
                                                                                                            <td style="background:#AFAFAF; padding:0cm 0cm 0cm 0cm; height:18.75pt; border:solid; border-width: 1px;">
                                                                                                                <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="89%" style="width:89.0%">
                                                                                                                    <tbody>
                                                                                                                        <tr>
                                                                                                                            <td width="15" style="width:11.25pt; padding:0cm 0cm 0cm 0cm">
                                                                                                                                <p class="x_MsoNormal">&nbsp;</p>
                                                                                                                            </td>
                                                                                                                            <td width="150" style="width:112.5pt; padding:0cm 0cm 0cm 0cm">
                                                                                                                                <p class="x_MsoNormal"><span style="font-size: 10pt; font-family: Arial, sans-serif, serif, EmojiFont; color: white;">NOMBRES APELLIDOS</span></p>
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                            </td>
                                                                                                            <td style="background:#F5F7F8; padding:0cm 0cm 0cm 0cm; height:18.75pt">
                                                                                                                <div align="center">
                                                                                                                    <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="92%" style="width:92.0%">
                                                                                                                        <tbody>
                                                                                                                            <tr>
                                                                                                                                <td style="padding:0cm 0cm 0cm 0cm">
                                                                                                                                    <p class="x_MsoNormal"><span style="font-size: 10pt; font-family: Arial, sans-serif, serif, EmojiFont; color: rgb(148, 150, 155);">{NOMBRES_APELLIDOS}</span></p>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </div>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr style="height:18.75pt">
                                                                                                            <td style="background:#AFAFAF; padding:0cm 0cm 0cm 0cm; height:18.75pt; border:solid; border-width: 1px;">
                                                                                                                <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="89%" style="width:89.0%">
                                                                                                                    <tbody>
                                                                                                                        <tr>
                                                                                                                            <td width="15" style="width:11.25pt; padding:0cm 0cm 0cm 0cm">
                                                                                                                                <p class="x_MsoNormal">&nbsp;</p>
                                                                                                                            </td>
                                                                                                                            <td width="150" style="width:112.5pt; padding:0cm 0cm 0cm 0cm">
                                                                                                                                <p class="x_MsoNormal"><span style="font-size: 10pt; font-family: Arial, sans-serif, serif, EmojiFont; color: white;">FECHA DE RETIRO</span></p>
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                            </td>
                                                                                                            <td style="background:#F5F7F8; padding:0cm 0cm 0cm 0cm; height:18.75pt">
                                                                                                                <div align="center">
                                                                                                                    <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="92%" style="width:92.0%">
                                                                                                                        <tbody>
                                                                                                                            <tr>
                                                                                                                                <td style="padding:0cm 0cm 0cm 0cm">
                                                                                                                                    <p class="x_MsoNormal"><span style="font-size: 10pt; font-family: Arial, sans-serif, serif, EmojiFont; color: rgb(148, 150, 155);">{FECHA_RETIRO}</span></p>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </div>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr style="height:18.75pt">
                                                                                                            <td style="background:#AFAFAF; padding:0cm 0cm 0cm 0cm; height:18.75pt; border:solid; border-width: 1px;">
                                                                                                                <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="89%" style="width:89.0%">
                                                                                                                    <tbody>
                                                                                                                        <tr>
                                                                                                                            <td width="15" style="width:11.25pt; padding:0cm 0cm 0cm 0cm">
                                                                                                                                <p class="x_MsoNormal">&nbsp;</p>
                                                                                                                            </td>
                                                                                                                            <td width="150" style="width:112.5pt; padding:0cm 0cm 0cm 0cm">
                                                                                                                                <p class="x_MsoNormal"><span style="font-size: 10pt; font-family: Arial, sans-serif, serif, EmojiFont; color: white;">MOTIVO RETIRO</span></p>
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                            </td>
                                                                                                            <td style="background:#F5F7F8; padding:0cm 0cm 0cm 0cm; height:18.75pt">
                                                                                                                <div align="center">
                                                                                                                    <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="92%" style="width:92.0%">
                                                                                                                        <tbody>
                                                                                                                            <tr>
                                                                                                                                <td style="padding:0cm 0cm 0cm 0cm">
                                                                                                                                    <p class="x_MsoNormal"><span style="font-size: 10pt; font-family: Arial, sans-serif, serif, EmojiFont; color: rgb(148, 150, 155);">{MOTIVO_RETIRO}</span></p>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </div>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr style="height:18.75pt">
                                                                                                            <td style="background:#AFAFAF; padding:0cm 0cm 0cm 0cm; height:18.75pt; border:solid; border-width: 1px;">
                                                                                                                <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="89%" style="width:89.0%">
                                                                                                                    <tbody>
                                                                                                                        <tr>
                                                                                                                            <td width="15" style="width:11.25pt; padding:0cm 0cm 0cm 0cm">
                                                                                                                                <p class="x_MsoNormal">&nbsp;</p>
                                                                                                                            </td>
                                                                                                                            <td width="150" style="width:112.5pt; padding:0cm 0cm 0cm 0cm">
                                                                                                                                <p class="x_MsoNormal"><span style="font-size: 10pt; font-family: Arial, sans-serif, serif, EmojiFont; color: white;">CENTRO DE COSTOS</span></p>
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                            </td>
                                                                                                            <td style="background:#F5F7F8; padding:0cm 0cm 0cm 0cm; height:18.75pt">
                                                                                                                <div align="center">
                                                                                                                    <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="92%" style="width:92.0%">
                                                                                                                        <tbody>
                                                                                                                            <tr>
                                                                                                                                <td style="padding:0cm 0cm 0cm 0cm">
                                                                                                                                    <p class="x_MsoNormal"><span style="font-size: 10pt; font-family: Arial, sans-serif, serif, EmojiFont; color: rgb(148, 150, 155);">{CENTRO_COSTOS}</span></p>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </div>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr style="height:18.75pt">
                                                                                                            <td style="background:#AFAFAF; padding:0cm 0cm 0cm 0cm; height:18.75pt; border:solid; border-width: 1px;">
                                                                                                                <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="89%" style="width:89.0%">
                                                                                                                    <tbody>
                                                                                                                        <tr>
                                                                                                                            <td width="15" style="width:11.25pt; padding:0cm 0cm 0cm 0cm">
                                                                                                                                <p class="x_MsoNormal">&nbsp;</p>
                                                                                                                            </td>
                                                                                                                            <td width="150" style="width:112.5pt; padding:0cm 0cm 0cm 0cm">
                                                                                                                                <p class="x_MsoNormal"><span style="font-size: 10pt; font-family: Arial, sans-serif, serif, EmojiFont; color: white;">GENERA VACANTE</span></p>
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                            </td>
                                                                                                            <td style="background:#F5F7F8; padding:0cm 0cm 0cm 0cm; height:18.75pt">
                                                                                                                <div align="center">
                                                                                                                    <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="92%" style="width:92.0%">
                                                                                                                        <tbody>
                                                                                                                            <tr>
                                                                                                                                <td style="padding:0cm 0cm 0cm 0cm">
                                                                                                                                    <p class="x_MsoNormal"><span style="font-size: 10pt; font-family: Arial, sans-serif, serif, EmojiFont; color: rgb(148, 150, 155);">{GENERA_VACANTE}</span></p>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </div>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr style="height:18.75pt">
                                                                                                            <td style="background:#AFAFAF; padding:0cm 0cm 0cm 0cm; height:18.75pt; border:solid; border-width: 1px;">
                                                                                                                <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="89%" style="width:89.0%">
                                                                                                                    <tbody>
                                                                                                                        <tr>
                                                                                                                            <td width="15" style="width:11.25pt; padding:0cm 0cm 0cm 0cm">
                                                                                                                                <p class="x_MsoNormal">&nbsp;</p>
                                                                                                                            </td>
                                                                                                                            <td width="150" style="width:112.5pt; padding:0cm 0cm 0cm 0cm">
                                                                                                                                <p class="x_MsoNormal"><span style="font-size: 10pt; font-family: Arial, sans-serif, serif, EmojiFont; color: white;">CONCEPTO</span></p>
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                            </td>
                                                                                                            <td style="background:#F5F7F8; padding:0cm 0cm 0cm 0cm; height:18.75pt">
                                                                                                                <div align="center">
                                                                                                                    <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="92%" style="width:92.0%">
                                                                                                                        <tbody>
                                                                                                                            <tr>
                                                                                                                                <td style="padding:0cm 0cm 0cm 0cm">
                                                                                                                                    <p class="x_MsoNormal"><span style="font-size: 10pt; font-family: Arial, sans-serif, serif, EmojiFont; color: rgb(148, 150, 155);">{CONCEPTO}</span></p>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </div>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr style="height:18.75pt">
                                                                                                            <td style="background:#AFAFAF; padding:0cm 0cm 0cm 0cm; height:18.75pt; border:solid; border-width: 1px;">
                                                                                                                <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="89%" style="width:89.0%">
                                                                                                                    <tbody>
                                                                                                                        <tr>
                                                                                                                            <td width="15" style="width:11.25pt; padding:0cm 0cm 0cm 0cm">
                                                                                                                                <p class="x_MsoNormal">&nbsp;</p>
                                                                                                                            </td>
                                                                                                                            <td width="150" style="width:112.5pt; padding:0cm 0cm 0cm 0cm">
                                                                                                                                <p class="x_MsoNormal"><span style="font-size: 10pt; font-family: Arial, sans-serif, serif, EmojiFont; color: white;">VALOR</span></p>
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                            </td>
                                                                                                            <td style="background:#F5F7F8; padding:0cm 0cm 0cm 0cm; height:18.75pt">
                                                                                                                <div align="center">
                                                                                                                    <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="92%" style="width:92.0%">
                                                                                                                        <tbody>
                                                                                                                            <tr>
                                                                                                                                <td style="padding:0cm 0cm 0cm 0cm">
                                                                                                                                    <p class="x_MsoNormal"><span style="font-size: 10pt; font-family: Arial, sans-serif, serif, EmojiFont; color: rgb(148, 150, 155);">{VALOR}</span></p>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </div>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="padding:0cm 0cm 0cm 0cm">
                                                                                                <p class="x_MsoNormal"><span style="font-family: Arial, sans-serif, serif, EmojiFont; color: rgb(38, 38, 38); font-size: 10pt;"><br />Agradecemos toda su colaboración y puntualidad en el reporte.</span><span style="font-family: Arial, sans-serif, serif, EmojiFont;"></span></p>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="padding:0cm 0cm 0cm 0cm">
                                                                                                <p class="x_MsoNormal">&nbsp;</p>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="padding:0cm 0cm 0cm 0cm"></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="padding:0cm 0cm 0cm 0cm">
                                                                                                <p class="x_MsoNormal">&nbsp;</p>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="background:white; padding:0cm 0cm 0cm 0cm">
                                                        <div align="center">
                                                            <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="90%" style="width:90.0%">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="padding:0cm 0cm 0cm 0cm">
                                                                            <p class="x_MsoNormal">&nbsp;</p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding:0cm 0cm 0cm 0cm"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="background:white; padding:0cm 0cm 0cm 0cm">
                                                                            <div align="center">
                                                                                <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="90%" style="width:90.0%; font-family: arial, sans-serif; max-width: 600px;">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="padding-right: 50px;"><a href="#"><img src="http://axeber/img/logo-casaeditorial.png"></a></td>
                                                                                            <td><a href="#" style="color: #000; font-size: 12px;">Términos y condiciones</a></td>
                                                                                            <td><a href="#" style="color: #000; font-size: 12px;">Políticas de datos de navegación</a></td>
                                                                                            <td><a href="#" style="color: #000; font-size: 12px;">Línea ética</a></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td></td>
                                                                                            <td colspan="3">
                                                                                                <b style="font-size: 12px;">COPYRIGHT © 2018 Casa Editorial EL TIEMPO.</b>
                                                                                                <p style="font-size: 12px;">Prohibida su reproducción total o parcial, así como su traducción a cualquier idioma sin autorización escrita de su titular Casa Editorial EL TIEMPO.</p>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr style="height:18.75pt">
                                                                        <td style="padding:0cm 0cm 0cm 0cm; height:18.75pt">
                                                                            <p class="x_MsoNormal">&nbsp;</p>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>