
@using G_H_WEB.Models;
@model  ERROR_ViewModel
@{
    ViewBag.Title = "ERROR_ARCHIVO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{

    if (Model != null)
    {
        <input type="hidden" id="codRetiro" name="codRetiro" value=@Model.COD_RETIRO />

        if (Model.COD_ERROR != "")
        {
            <div class="modal fade" id="modalValidaError" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h5 class="modal-title" id="exampleModalLabel">ERROR CODIGO : @Model.COD_ERROR</h5>
                        </div>
                        <div class="modal-body">Se presentó un error, al momento de descargar el archivo, contacte al administrador del sistema!.</div>
                        <div class="modal-footer">
                            @*<button class="cancelar-modal" type="button" data-dismiss="modal">Cancelar</button>*@
                            <button class="btn-principal" type="button" onclick="CerrarModal()" data-dismiss="modal">  Cerrar </button>
                        </div>
                    </div>
                </div>
            </div>
        }       

    }
}
<!-- fin Modal para validar los errores si vienen de la controller -->
<script>

    /*funcion para mostrar errores si los hay en la vistallama a un modal   modalTabla*/
    $(document).ready(function () {
   
         if ('@Model.COD_ERROR' != "") {
            $('.modal-body').load('content.html', function () {
                $('#modalValidaError').modal({ show: true });
            });
        }
    });

    function CerrarModal() {
        window.close();
    }
   

</script>