
select {
    background: url(../assets/img/iconfinder_arrow-down.png) no-repeat;
    -webkit-appearance: none;
    background-position-x: 96%;
    background-position-y: 17px;
    background-size: 20px;
}

label {
    font-family: "Source-Sans-Pro" !important;
    font-size: 14px
}

titulo-retiros, h2, h3, h4 {
    font-family: "Source-Sans-Pro" !important;
    line-height: 25px;
    font-size: 26px !important
}

.no-padding-right {
    padding-right: 0px !important;
}

thead, tbody, th {
    font-family: "Source-Sans-Pro" !important;
    font-size: 14px;
    font-weight: normal !important
}

.notification-read {
    padding-left: 15px;
}

.notification-dropdown-menu {
    border-bottom-color: #F15300 !important;
    border-bottom-width: medium !important;
}

.hr-requisition {
    margin-top: 12px;
    margin-bottom: initial;
    border: 0;
    border-top: 1px dashed #D3D8DA;
}

.btn .badge {
    top: -10px;
}

#btnGroupDrop1.dropdown-toggle::after {
    display: none;
}

.a-collapse {
    font-family: "Source-Sans-Pro" !important;
    color: black
}

    .a-collapse:hover {
        color: black;
        text-decoration: none
    }

.span-collapse {
    margin-right: 12px;
    padding-top: 5px;
}

.arrow-collapse {
    height: 7.76px;
    width: 12.6px;
    color: #f15300;
    position: relative;
    top: 7px;
}

.btn-rechazar-requisicion {
    background: none;
    border: none;
    font-family: "Source-Sans-Pro";
    padding: 0 !important;
    text-decoration: underline !important;
    cursor: pointer;
    width: 21% !important;
    height: 20px !important;
    color: #F15300 !important;
    margin-right: 2%;
    background: none;
    border: none;
}

.textarea {
    resize: none;
}

.div-select-requisicion:hover {
    background-color: #FFFFFF
}

.span-modify-hidden {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.BtnDevolver {
    height: 48px;
    width: 206px;
    border: 1.5px solid #F15300;
    background-color: #FFFFFF;
    margin-right: 16px;
    cursor: pointer;
}

    .BtnDevolver:hover {
        color: #FFF !important;
        text-decoration: none !important;
        background-color: #F15300;
    }

.TextoBtnDevolver {
    color: #F15300 !important;
    font-family: "Source-Sans-Pro";
    font-size: 17px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
}

.span-alert-modify {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.no-width {
    width: inherit !important
}

.crear-requisicion {
    background: #F15300;
}

    .crear-requisicion:hover {
        background: #FF6E40;
        color: #fff
    }

.nav-modificacion-no-presupuestada {
    font-size: 13px;
}

.nav-modificacion-presupuestada {
    font-size: 13px;
}

a.nav-link-static {
    text-decoration: none !important
}

.notification-read .badge-bell {
    width: 32px;
}

a.a-collapse h2 {
    font-size: 18px !important;
    font-family: "Source Sans Pro";
    font-weight: bold;
}

.item_lista_modificar {
    color: #080015
}

.form-control {
    border-radius: 0px !important;
}

textarea {
    resize: none !important
}
/****INICIO CAMBIOS JULIAN ROMERO SALAZAR*/

.tb_separador {
    padding: 42px;
    padding-top: 0;
    margin: 0;
    max-width: 750px;
}

.LabelTituloRequisiciones {
    margin: 18px;
    background-color: rgba(255,255,255,0.0);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-weight: 700;
    font-style: normal;
    font-size: 26.0px;
    color: rgba(27, 33, 41, 1.0);
    text-align: left;
    letter-spacing: 0.0px;
    line-height: 33.0px;
}

.col-md-rectangle_Pop {
    margin-left: 34px;
    margin-bottom: 34px;
}

.rectangle_Pop_UPS {
    top: 0px;
    height: 98px;
    box-sizing: border-box;
    width: 98px;
    margin: 0;
    left: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(221, 221, 221, 1.0);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

    .rectangle_Pop_UPS img {
        top: 17px;
        height: 39px;
        width: 40px;
        position: absolute;
        margin: 0;
        left: 29px;
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .rectangle_Pop_UPS .items {
        top: 70px;
        height: auto;
        width: 93px;
        position: absolute;
        margin: 0;
        left: 3px;
        font-weight: 600;
        font-style: normal;
        font-size: 9px;
        text-align: center;
        line-height: 14px;
    }

.azul-oscuro {
    color: #4F6785;
}

.rosa {
    color: #D14469;
}

.amarillo {
    color: #E6A708;
}

.azul-claro {
    color: #36A1BE;
}

.btnCancelar {
    min-width: 202px;
    position: relative;
    float: left;
    top: 12px;
}

.control_mediano {
    max-width: 361px;
    width: 100% !important;
}


.control_grande{
    max-width:750px;
    width:100%!important;
}
/****FIN CAMBIOS*/

.panel-heading {
    margin: 0px;
}

.tb_separador h4 {
    margin-left: 30px;
}


/*Estilos modificados para el cambio de icono de ordenamiento de la tabla*/
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    right: 0 !important;
    content: "" !important;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    right: 0 !important;
    content: "\25be" !important;
}

table.dataTable thead th {
    position: relative;
    background-image: none !important;
}

    table.dataTable thead th.sorting:after,
    table.dataTable thead th.sorting_asc:after,
    table.dataTable thead th.sorting_desc:after {
        position: absolute !important;
        top: 12px !important;
        right: 8px !important;
        display: block !important;
        font-family: FontAwesome !important;
        opacity: 1;
    }

    table.dataTable thead th.sorting:after {
        content: "\25bc" !important;
        color: #ddd !important;
        font-size: 0.8em !important;
        padding-top: 0.12em !important;
    }

    table.dataTable thead th.sorting_asc:after {
        content: "\25b2" !important;
        color: #000;
        font-size: 11px;
    }

    table.dataTable thead th.sorting_desc:after {
        content: "\25bc" !important;
        color: #000;
        font-size: 11px;
    }
